html {
    padding: 0 1.5em;
}

body {
    max-width: 55.5em;
    margin: 0 auto;
}

table td {
    vertical-align: text-top;
}

table tr:nth-child(even) {
    background-color: #f2f2f2
}

table thead th {
    border-bottom: 1px solid black;
}