name: run-tests
on: [push,pull_request]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - uses: juarezr/firebirdsql-github-action@v2.0.3
        with:
          version: '5.0.3'
          firebird_root_password: 'masterkey'
          firebird_conf: 'WireCrypt=Enabled,AuthServer=Srp256;Srp;Legacy_Auth,UserManager=Srp;Legacy_UserManager'
      - uses: actions/checkout@v4
      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2
        with:
          cache-read-only: ${{ github.ref != 'refs/heads/Branch_6_0' }}
      - name: Build with Gradle
        run: ./gradlew test -Ptest.dbondocker=true -Ptest.db.dir=/var/lib/firebird/data
      - name: Store Report Artifact
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: report-artifacts
          path: build/reports
          compression-level: 9
          retention-days: 7
